@model DutyPanel.Models.Merit

@{
    ViewBag.Title = "Информация о заслуге";
}
@if(Session["User"] is DutyPanel.Models.AdminUser)
{
    <h2>Инофрмация о заслуге</h2>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Employee.LastName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Employee.LastName)
        </div>
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Employee.FirstName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Employee.FirstName)
        </div>
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Employee.SecondName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Employee.SecondName)
        </div>
        <div class="display-label">
             @Html.DisplayNameFor(model => model.DateOfAssignment)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DateOfAssignment)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Description)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Description)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Promotion)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Promotion)
        </div>
    <p>
        @Html.ActionLink("Редактировать", "Edit", new { id=Model.Id }) |
        @Html.ActionLink("Вернуться назад к списку", "Index")
    </p>
}