@model IEnumerable<DutyPanel.Models.Statement>

@{
    ViewBag.Title = "Список заявлений";
}

<h2>Список заявлений</h2>
<p>Отобразить со статусом: @ViewData["StatusStatemet"]</p>
<p>@Html.ActionLink("Все", "Statements", new {status = ""}) | @Html.ActionLink("Принято", "Statements", new {status = "received"}) | @Html.ActionLink("Обрабатывается", "Statements", new {status = "processed"}) | @Html.ActionLink("Направлен ответ заявителю", "Statements", new {status = "reply"})</p>

<table class="simple-little-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeclarantLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeclarantFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateStatment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeclarantLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeclarantFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateStatment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @if(item is DutyPanel.Models.InternetStatement)
            {
                @Html.ActionLink("Подробнее", "Details", "StatementI", new { id = item.NumberStatement }, null)
            }
            @if(item is DutyPanel.Models.OralStatement)
            {
                @Html.ActionLink("Подробнее", "Details", "StatementO", new { id = item.NumberStatement }, null)
            }
            @if(item is DutyPanel.Models.WrittenStatement)
            {
                @Html.ActionLink("Подробнее", "Details", "StatementW", new { id = item.NumberStatement }, null)
            }
        </td>
    </tr>
}

</table>
