@model DutyPanel.Models.AdminUser

@{
    ViewBag.Title = "Информация о администраторе/начальнике дежуронй части";
}

@if(Session["User"] is DutyPanel.Models.AdminUser)
{
<h2>Информация о администраторе/начальнике дежуронй части</h2>


    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfLastEntry)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfLastEntry)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SecondName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SecondName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PassportNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PassportNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WhoGivePassport)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WhoGivePassport)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateGivePassport)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateGivePassport)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SubdivisionPasport)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubdivisionPasport)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RegistrationAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegistrationAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactPhone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactPhone)
    </div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Вернуться назад к списку", "Index")
</p>

}
else
{
    @Html.Partial("AccessError")
}