@model DutyPanel.Models.OperativeWorker

@{
    ViewBag.Title = "Создание оперативного работника";
}
@if(Session["User"] is DutyPanel.Models.AdminUser)
{
    <h2>Создание оперативного работника</h2>

    using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

            <div class="editor-label">
                @Html.LabelFor(model => model.Group)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Group, (List<SelectListItem>)ViewData["Group"])
                @Html.ValidationMessageFor(model => model.Group)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Rank)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Rank, (SelectList)ViewData["Rank"])
                @Html.ValidationMessageFor(model => model.Rank)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.NumberServiceWeapon)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.NumberServiceWeapon)
                @Html.ValidationMessageFor(model => model.NumberServiceWeapon)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.AccessionNumberHandCuffs)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.AccessionNumberHandCuffs)
                @Html.ValidationMessageFor(model => model.AccessionNumberHandCuffs)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.IsHaveDog)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IsHaveDog)
                @Html.ValidationMessageFor(model => model.IsHaveDog)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.EmployeeNumber)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.EmployeeNumber)
                @Html.ValidationMessageFor(model => model.EmployeeNumber)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.DateLastEditedRank)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DateLastEditedRank)
                @Html.ValidationMessageFor(model => model.DateLastEditedRank)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.WorkingPhone)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.WorkingPhone)
                @Html.ValidationMessageFor(model => model.WorkingPhone)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.NumberServiceCertificate)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.NumberServiceCertificate)
                @Html.ValidationMessageFor(model => model.NumberServiceCertificate)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.DateIssueServiceCertificate)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DateIssueServiceCertificate)
                @Html.ValidationMessageFor(model => model.DateIssueServiceCertificate)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.LastName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.FirstName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.SecondName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.SecondName)
                @Html.ValidationMessageFor(model => model.SecondName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.PassportNumber)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PassportNumber)
                @Html.ValidationMessageFor(model => model.PassportNumber)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.WhoGivePassport)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.WhoGivePassport)
                @Html.ValidationMessageFor(model => model.WhoGivePassport)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.DateGivePassport)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DateGivePassport)
                @Html.ValidationMessageFor(model => model.DateGivePassport)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.SubdivisionPasport)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.SubdivisionPasport)
                @Html.ValidationMessageFor(model => model.SubdivisionPasport)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.RegistrationAddress)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.RegistrationAddress)
                @Html.ValidationMessageFor(model => model.RegistrationAddress)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ContactPhone)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ContactPhone)
                @Html.ValidationMessageFor(model => model.ContactPhone)
            </div>

            <p>
                <input type="submit" value="Создать" />
            </p>
    }

    <div>
        @Html.ActionLink("Вернуться назад к списку", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script>
            $(function () {
                $("#DateLastEditedRank, #DateIssueServiceCertificate, #DateGivePassport").appendDtpicker({ "dateFormat": "DD/MM/YYYY" , locale: "ru", closeOnSelected: true, firstDayOfWeek: 1 });
            });
        </script>
    }
}
else
{
    @Html.Partial("AccessError")
}