@model DutyPanel.EmployeeUsers
@{
    ViewBag.Title = "Создание сотрудника";
}
@if(Session["User"] is DutyPanel.Models.AdminUser)
{
    <h2>Создание сотрудника</h2>

    using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

            <div class="editor-label">
                Тип создаваемого пользователя:
            </div>
            <div class="editor-field">
                <select name="TypeUser" id="TypeUser">
                    <option value="1">Дежурный</option>
                    <option value="2">Оперативный работник</option>
                    <option value="3">Водитель</option>
                </select>
            </div>

            <p>
                <input type="submit" value="Перейти к заполнению данных" />
            </p>
    }

    <div>
        @Html.ActionLink("Вернуться назад к списку", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}
else
{
    @Html.Partial("AccessUser")
}