@model DutyPanel.Models.Driver

@{
    ViewBag.Title = "CreatDriver";
}

<h2>CreatDriver</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Driver</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.LicenseNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LicenseNumber)
            @Html.ValidationMessageFor(model => model.LicenseNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateReceiptLicense)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateReceiptLicense)
            @Html.ValidationMessageFor(model => model.DateReceiptLicense)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryLicense)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CategoryLicense)
            @Html.ValidationMessageFor(model => model.CategoryLicense)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumberMedicalCertificates)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumberMedicalCertificates)
            @Html.ValidationMessageFor(model => model.NumberMedicalCertificates)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmployeeNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmployeeNumber)
            @Html.ValidationMessageFor(model => model.EmployeeNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateRegistr)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateRegistr)
            @Html.ValidationMessageFor(model => model.DateRegistr)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateLastEditedRank)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateLastEditedRank)
            @Html.ValidationMessageFor(model => model.DateLastEditedRank)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WorkingPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WorkingPhone)
            @Html.ValidationMessageFor(model => model.WorkingPhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PenaltiesCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PenaltiesCount)
            @Html.ValidationMessageFor(model => model.PenaltiesCount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumberServiceCertificate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumberServiceCertificate)
            @Html.ValidationMessageFor(model => model.NumberServiceCertificate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateIssueServiceCertificate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateIssueServiceCertificate)
            @Html.ValidationMessageFor(model => model.DateIssueServiceCertificate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SecondName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SecondName)
            @Html.ValidationMessageFor(model => model.SecondName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PassportNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PassportNumber)
            @Html.ValidationMessageFor(model => model.PassportNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WhoGivePassport)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WhoGivePassport)
            @Html.ValidationMessageFor(model => model.WhoGivePassport)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateGivePassport)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateGivePassport)
            @Html.ValidationMessageFor(model => model.DateGivePassport)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubdivisionPasport)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SubdivisionPasport)
            @Html.ValidationMessageFor(model => model.SubdivisionPasport)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RegistrationAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RegistrationAddress)
            @Html.ValidationMessageFor(model => model.RegistrationAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactPhone)
            @Html.ValidationMessageFor(model => model.ContactPhone)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
