@model IEnumerable<DutyPanel.Models.EmployeeUser>

@{
    ViewBag.Title = "Список сотрудников";
}
@if(Session["User"] is DutyPanel.Models.AdminUser)
{
    <h2>Список сотрудников</h2>

    <p>
        @Html.ActionLink("Создать сотрудника", "Create")
    </p>
    <table class="simple-little-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondName)
            </th>
        
            <th>
                @Html.DisplayNameFor(model => model.ContactPhone)
            </th>
            <th>Роль</th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPhone)
            </td>
            <td>
                @if (item is DutyPanel.Models.Duty)
                {
                    <span>Дежурный</span>
                }
                else
                {
                    if (item is DutyPanel.Models.OperativeWorker)
                    {
                        <span>Оперативный работник</span>
                    }
                    else
                    { 
                        <span>Водитель</span>
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Подробная информация", "Details", new { id=item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>
}
else
{
    @Html.Partial("AccessError")
}