@model DutyPanel.Models.OralStatement

@{
    ViewBag.Title = "Details";
}
@if (Session["User"] is DutyPanel.Models.Duty || Session["User"] is DutyPanel.Models.OperativeWorker || Session["User"] is DutyPanel.Models.AdminUser)
{
    <h2>Details</h2>

<fieldset>
    <legend>OralStatement</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PhoneCaller)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneCaller)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdressCaller)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdressCaller)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DeclarantLastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeclarantLastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DeclarantFirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeclarantFirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DeclarantSecondName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeclarantSecondName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateStatment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateStatment)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DaetIncident)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DaetIncident)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Adress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Adress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.District)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.District)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Harm)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Harm)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @if(Session["User"] is DutyPanel.Models.Duty)
    {
        @Html.ActionLink("Edit", "Edit", new { id=Model.NumberStatement }) <span>|</span>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
<p>
    @Html.ActionLink("Создать выезд", "Create", "Leaving", new { id = Model.NumberStatement}, "div")
</p>
}
else
{
    <p>У вас нет прав для доступа в данный раздел.</p>
}