@model DutyPanel.Models.WrittenStatement

@{
    ViewBag.Title = "Создание письменного заявления";
}
@if (Session["User"] is DutyPanel.Models.Duty)
{
<h2>Создание письменного заявления</h2>

using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <div class="editor-label">
            @Html.LabelFor(model => model.DeclarantNumberPasport)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DeclarantNumberPasport)
            @Html.ValidationMessageFor(model => model.DeclarantNumberPasport)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DeclarantWhoGivePassport)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DeclarantWhoGivePassport)
            @Html.ValidationMessageFor(model => model.DeclarantWhoGivePassport)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DeclarantSubdivisionPasport)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DeclarantSubdivisionPasport)
            @Html.ValidationMessageFor(model => model.DeclarantSubdivisionPasport)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DeclarantDateGivePassport)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DeclarantDateGivePassport)
            @Html.ValidationMessageFor(model => model.DeclarantDateGivePassport)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DeclarantRegistrationAddress)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.DeclarantRegistrationAddress)
            @Html.ValidationMessageFor(model => model.DeclarantRegistrationAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DeclarantContactPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DeclarantContactPhone)
            @Html.ValidationMessageFor(model => model.DeclarantContactPhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DeclarantLastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DeclarantLastName)
            @Html.ValidationMessageFor(model => model.DeclarantLastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DeclarantFirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DeclarantFirstName)
            @Html.ValidationMessageFor(model => model.DeclarantFirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DeclarantSecondName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DeclarantSecondName)
            @Html.ValidationMessageFor(model => model.DeclarantSecondName)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.DaetIncident)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DaetIncident)
            @Html.ValidationMessageFor(model => model.DaetIncident)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Adress)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Adress)
            @Html.ValidationMessageFor(model => model.Adress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.District)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.District)
            @Html.ValidationMessageFor(model => model.District)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Harm)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Harm)
            @Html.ValidationMessageFor(model => model.Harm)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <p>
            <input type="submit" value="Создать" />
        </p>
}

<div>
    @Html.ActionLink("Вернуться назад к списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $("#DateStatment, #DaetIncident").appendDtpicker({ "dateFormat": "DD/MM/YYYY h:m" , locale: "ru", closeOnSelected: true, firstDayOfWeek: 1 });
            $("#DeclarantDateGivePassport").appendDtpicker({ "dateFormat": "DD/MM/YYYY", locale: "ru", closeOnSelected: true, firstDayOfWeek: 1  });
        });
    </script>
}
}
else
{
    @Html.Partial("AccessError")
}