@model DutyPanel.Models.WrittenStatement

@{
    ViewBag.Title = "Письменное заявление";
}


@if (Session["User"] is DutyPanel.Models.Duty || Session["User"] is DutyPanel.Models.AdminUser || Session["User"] is DutyPanel.Models.OperativeWorker)
{
    <h2>Письменное заявление № @Model.NumberStatement</h2>
    
    <div class="display-label">
        <span>ФИО Дежурного, принявшего заявление </span>
    </div>
    <div class="display-field">
       @ViewData["FIO"]
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.DeclarantNumberPasport)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeclarantNumberPasport)
    </div>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.DeclarantWhoGivePassport)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeclarantWhoGivePassport)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DeclarantSubdivisionPasport)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeclarantSubdivisionPasport)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DeclarantDateGivePassport)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeclarantDateGivePassport)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DeclarantRegistrationAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeclarantRegistrationAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DeclarantContactPhone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeclarantContactPhone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DeclarantLastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeclarantLastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DeclarantFirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeclarantFirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DeclarantSecondName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeclarantSecondName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateStatment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateStatment)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DaetIncident)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DaetIncident)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Adress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Adress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.District)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.District)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Harm)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Harm)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
    
<p>
    @if (Session["User"] is DutyPanel.Models.Duty)
    {
        @Html.ActionLink("Редактировать", "Edit", new { id=Model.NumberStatement }) <span>|</span> 
    }
    @Html.ActionLink("Вернеться назад к списку", "Index")
    @if(Model.Leaving == null)
    {
        <span>|</span>@Html.ActionLink("Создать выезд оперативной группы", "Create", "Leaving", new { id = Model.NumberStatement}, null)
    }
</p>
}
else
{
    @Html.Partial("AccessError")
}