@{
    ViewBag.Title = "Sidebar";
}

<h2>Menu</h2>

<ul>
    <li>@Html.ActionLink("На главную", "Index", "Home")</li>
@if(Session["User"]==null)  
{  
    <li>@Html.ActionLink("Авторизация", "Login", "Profile")</li>
    <li>@Html.ActionLink("Создание заявления интернет", "Create", "StatementI")</li>
}
else
{
    <li>@Html.ActionLink("Выйти", "Logout", "Profile")</li>
}
    <li>@Html.ActionLink("Создание тестовых пользователей", "CreatAdmin", "Profile")</li>
</ul>
@if(Session["User"] is DutyPanel.Models.AdminUser)
{
    <h2>Admin Menu</h2>
    <ul>
        <li>@Html.ActionLink("Профиль админа", "Index", "Admin")</li>
        <li>@Html.ActionLink("Добавить звание", "Index", "Merit")</li>
        <li>@Html.ActionLink("Сотрудники", "Index", "Employee")</li>
        <li>@Html.ActionLink("Оперативные группы", "Index", "Operational")</li>
    </ul>
}
@if ((Session["User"] is DutyPanel.Models.Duty) || (Session["User"] is DutyPanel.Models.AdminUser))
{ 
    <h2>Duty Menu</h2>
    <ul>
        <li>@Html.ActionLink("Интернет заявления", "Index", "StatementI")</li>
        <li>@Html.ActionLink("Устные заявления", "Index", "StatementO")</li>
        <li>@Html.ActionLink("Письменные заявления", "Index", "StatementW")</li>
    </ul>
}
@if ((Session["User"] is DutyPanel.Models.Driver) || (Session["User"] is DutyPanel.Models.AdminUser))
{ 
    <h2>Driver Menu</h2>
    <ul>
        <li>@Html.ActionLink("Автомобили", "Index", "Car")</li>
    </ul>
}
@if ((Session["User"] is DutyPanel.Models.OperativeWorker) || (Session["User"] is DutyPanel.Models.AdminUser))
{ 
    <h2>OperativeWorker Menu</h2>
    <ul>
        <li>@Html.ActionLink("Собаки", "Index", "Dog")</li>
        
    </ul>
}