<div class="side_b">
    <h2>Меню</h2>
    <ul>
        <li>@Html.ActionLink("Главная страница", "Index", "Home", new { res = false, IsMiniStyle = Session["Style"] }, null)</li>
        @if (Session["User"] == null)
        {  

            <li>@Html.ActionLink("Авторизация для сотрудников", "Login", "Profile")</li>

            <li>@Html.ActionLink("Подача заявления о происшествии", "Create", "StatementI")</li>
        }
        else
        {

            <li>@Html.ActionLink("Профиль", "Index", "Profile")</li>
            <li>@Html.ActionLink("Выйти", "Logout", "Profile")</li>
        }
        
    </ul>
</div>
@if (Session["User"] is DutyPanel.Models.AdminUser)
{

    <div class="side_b">
        <h2>Меню Администратора</h2>
        <ul>
            <li>@Html.ActionLink("Управление администраторами", "Index", "Admin")</li>
            <li>@Html.ActionLink("Заслуги сотрудников", "Index", "Merit")</li>
            <li>@Html.ActionLink("Управление сотрудниками", "Index", "Employee")</li>
            <li>@Html.ActionLink("Оперативные группы", "Index", "Operational")</li>
        </ul>
    </div>
}
@if ((Session["User"] is DutyPanel.Models.Duty) || (Session["User"] is DutyPanel.Models.AdminUser))
{ 

    <div class="side_b">
        <h2>Меню дежурного</h2>
        <ul>
            <li>@Html.ActionLink("Все заявления", "Statements", "Profile")</li>
            <li>@Html.ActionLink("Поиск по заявлениям", "FindStatment", "Profile")</li>
            <li>@Html.ActionLink("Интернет заявления", "Index", "StatementI")</li>
            <li>@Html.ActionLink("Устные заявления", "Index", "StatementO")</li>
            <li>@Html.ActionLink("Письменные заявления", "Index", "StatementW")</li>
            <li>@Html.ActionLink("Выезды оперативных групп", "Index", "Leaving")</li>
        </ul>
    </div>
}
@if ((Session["User"] is DutyPanel.Models.Driver) || (Session["User"] is DutyPanel.Models.AdminUser))
{ 

    <div class="side_b">
        <h2>Меню водителя</h2>
        <ul>
            <li>@Html.ActionLink("Служебные автомобили", "Index", "Car")</li>
            <li>@Html.ActionLink("Выезды оперативной группы", "Index", "Leaving")</li>
        </ul>
    </div>
}
@if ((Session["User"] is DutyPanel.Models.OperativeWorker) || (Session["User"] is DutyPanel.Models.AdminUser))
{ 

    <div class="side_b">
        <h2>Меню оперативного работника</h2>
        <ul>
            <li>@Html.ActionLink("Собаки", "Index", "Dog")</li>
            <li>@Html.ActionLink("Выезды оперативной группы", "Index", "Leaving")</li>
            <li>@Html.ActionLink("Протоколы", "Index", "Protocol")</li>
            <li>@Html.ActionLink("Задержания", "Index", "Detention")</li>
            <li>@Html.ActionLink("Поиск по задержаниям", "FindDetention", "Detention")</li>
        </ul>
    </div>
}




