@model DutyPanel.Models.InternetStatement

@{
    ViewBag.Title = "Интернет заявление";
}

@if(Session["User"]!=null)
{
    <h2>Интернет заявление № @Model.NumberStatement</h2>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.IpAdress)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.IpAdress)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.InfoBrowser)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.InfoBrowser)
        </div>
        <div class="display-label">
             @Html.DisplayNameFor(model => model.DeclarantLastName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DeclarantLastName)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.DeclarantFirstName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DeclarantFirstName)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.DeclarantSecondName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DeclarantSecondName)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.DateStatment)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DateStatment)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.DaetIncident)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DaetIncident)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Adress)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Adress)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.District)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.District)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Harm)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Harm)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Description)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Description)
        </div>
    <p>
    @if (Session["User"] is DutyPanel.Models.Duty)
    {
        @Html.ActionLink("Редактировать", "Edit", new { id=Model.NumberStatement }) <span>|</span>
    
    }
    @if (Session["User"] is DutyPanel.Models.AdminUser || Session["User"] is DutyPanel.Models.Duty)
    {
        @Html.ActionLink("Вернуться назад к списку", "Index")
    }
    @if(Model.Leaving == null)
    {
        <span>|</span>@Html.ActionLink("Создать выезд оперативной группы", "Create", "Leaving", new { id = Model.NumberStatement}, null)
    }
    </p>
}
else
{
    @Html.Partial("AccessError")
}