@model DutyPanel.Models.WarDog

@{
    ViewBag.Title = "Информация о собаке";
}
@if ((Session["User"] is DutyPanel.Models.AdminUser) || (Session["User"] is DutyPanel.Models.OperativeWorker))
{
    <h2>Информация о служебной собаке</h2>
    
        <div>
            <b>@Html.DisplayNameFor(model => model.Name): </b>@Html.DisplayFor(model => model.Name)
        </div>
        <div>
            <b>@Html.DisplayNameFor(model => model.Breed): </b>@Html.DisplayFor(model => model.Breed)
        </div>
        <div>
            <b>@Html.DisplayNameFor(model => model.DateOfBirthday): </b>@Html.DisplayFor(model => model.DateOfBirthday)
        </div>
        <div>
            <b>@Html.DisplayNameFor(model => model.DateCommencementOfService): </b>@Html.DisplayFor(model => model.DateCommencementOfService)
        </div>
        <div>
            <b>@Html.DisplayNameFor(model => model.DateLastInspection): </b>@Html.DisplayFor(model => model.DateLastInspection)
        </div>
        <div>
            <b>@Html.DisplayNameFor(model => model.DogOwner.LastName) хозяина: </b>@Html.DisplayFor(model => model.DogOwner.LastName)
        </div>
        <div>
            <b>@Html.DisplayNameFor(model => model.DogOwner.FirstName) хозяина: </b>@Html.DisplayFor(model => model.DogOwner.FirstName)
        </div>
        <div>
            <b>@Html.DisplayNameFor(model => model.DogOwner.SecondName) хозяина: </b>@Html.DisplayFor(model => model.DogOwner.SecondName)
        </div>
        <div>
            <b>Номер оперативной группы: </b>№@Html.DisplayFor(model => model.DogOwner.Group.IdGroup)
        </div>

        
    <p>
        @if(Session["User"] is DutyPanel.Models.AdminUser)
        {
            @Html.ActionLink("Редактировать", "Edit", new { id=Model.IdDog }) <span>|</span>
        }
        @if(Session["User"] is DutyPanel.Models.OperativeWorker)
        {
            if((Session["User"] as DutyPanel.Models.OperativeWorker).WarDog.IdDog == Model.IdDog)
            {
                @Html.ActionLink("Редактировать", "Edit", new { id=Model.IdDog }) <span>|</span>
            }
        }
        @Html.ActionLink("Вернуться назад к списку", "Index")
    </p>
}
else
{
    @Html.Partial("AccessError")
}