@model DutyPanel.Models.WarDog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>WarDog</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Breed)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Breed)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfBirthday)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfBirthday)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCommencementOfService)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCommencementOfService)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateLastInspection)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateLastInspection)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IdDog }) |
    @Html.ActionLink("Back to List", "Index")
</p>
