@model DutyPanel.Models.Detention

@{
    ViewBag.Title = "Удаление задержания";
}
@if ((Session["User"] is DutyPanel.Models.AdminUser) || (Session["User"] is DutyPanel.Models.OperativeWorker))
{
    <h2>Вы действительно хотите удалить данное задержание?</h2>
        <div class="display-label">
             @Html.DisplayNameFor(model => model.DetentionLastName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DetentionLastName)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.DetentionFirstName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DetentionFirstName)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.DetentionSecondName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DetentionSecondName)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.DateOfDetention)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DateOfDetention)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.PleaceDetention)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PleaceDetention)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.BaseDetention)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.BaseDetention)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Things)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Things)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.IsNotifiRelatives)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.IsNotifiRelatives)
        </div>
    using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Удалить" /> |
            @Html.ActionLink("Вернуться назад к списку", "Index")
        </p>
    }
}
else
{
    @Html.Partial("AccessError")
}