@model IEnumerable<DutyPanel.Models.Detention>

@{
    ViewBag.Title = "Список задержаний";
}
@if ((Session["User"] is DutyPanel.Models.AdminUser) || (Session["User"] is DutyPanel.Models.OperativeWorker))
{
    <h2>Список задержаний</h2>
    <p>Сортировка: @Html.ActionLink("Все", "Index") | @Html.ActionLink("Уведомлены родственники", "Index", new { filter = "notified"}) | @Html.ActionLink("Не уведомлены родственники", "Index", new { filter = "notnotifed"})</p>
    <table class="simple-little-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DetentionLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetentionFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseDetention)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfDetention)
            </th>
        
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DetentionLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetentionFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseDetention)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfDetention)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id=item.NumberDetention }) |
                @Html.ActionLink("Подробная информация", "Details", new { id=item.NumberDetention }) |
                @Html.ActionLink("Удалить", "Delete", new { id=item.NumberDetention })
            </td>
        </tr>
    }

    </table>
}
else
{
    @Html.Partial("AccessError")
}