@{
    ViewBag.Title = "Автоматизированная система \"Дежурный пульт\"";
}
<h2>Автоматизированная система "Дежурный пульт"</h2>
<p>
    Здравствуйте! Вы находитесь главной странице автоматизированной системы управления дежурной частью "Дежурный пульт".
</p>
<p>
    Если вы не зарегистрированы в системе и являетесь Гражданином РФ, которй желает онлай подать заявление о происшествии, то можете перейти на раздел меню <b>"Подача заявления о происшествии"</b>.
</p>
<p>
    Если же вы являетесь сотрудником дежурной части, то можете перейти на страницу авторизации в пункте меню <b>"Авторизация для сотрудников"</b> и далее перейти в личный кабинет. 
</p>
@if (ViewBag.Users!= null)
{
    <h3>Тестовые данные для входа в систему:</h3>
    <table  class="simple-little-table">
        <tr>
            <th>E-mail</th>
            <th>Пароль</th>
            <th>Роль</th>
        </tr>
    @foreach (DutyPanel.Models.User tmp in (IEnumerable<DutyPanel.Models.User>)ViewBag.Users)
    {
        <tr>
            <td>@tmp.Email</td>
            <td>@tmp.Password</td>
            <td>
                @if (tmp is DutyPanel.Models.AdminUser)
                { 
                    <span>Администратор</span>
                }
                @if (tmp is DutyPanel.Models.Driver)
                { 
                    <span>Водитель</span>
                }
                @if (tmp is DutyPanel.Models.Duty)
                { 
                    <span>Дежурный</span>
                }
                @if (tmp is DutyPanel.Models.OperativeWorker)
                { 
                    <span>Оперативный работник</span>
                }
                @if (tmp is DutyPanel.Models.EmployeeUser)
                { 
                    <span>(Сотрудник)</span>
                }
            </td>
        </tr>
    }
    </table>
    <h3>Автоматическая авторизация тестовых пользователей:</h3>
    <ul>
    <li>@Html.ActionLink("Войти от имени Администратора/Начальника дежурной части", "TMP_Enter", new { role = "admin"})</li>
    <li>@Html.ActionLink("Войти от имени Дежурного работника", "TMP_Enter", new { role = "duty"})</li> 
    <li>@Html.ActionLink("Войти от имени Водителя", "TMP_Enter", new { role = "driver"})</li>
    <li>@Html.ActionLink("Войти от имени Оперативного работника", "TMP_Enter", new { role = "ow"})</li>
    </ul>
    <p>При переходе системы в рабочий режим, необходимо убрать вывод пользователей системы на главной странице. Для этого необходимо изменить файл <b>"~/Views/Home/Index.cshtml"</b></p>
}
else
{
    <p>В системе пока нет ни одной записи о пользователях. База данных пуста.</p>
    <p>Вы можете создать записи о тестовых пользователях системы. @Html.ActionLink("Создать", "CreatAdmin", "Profile")</p>
}