@model DutyPanel.Models.LeavingGroup

@{
    ViewBag.Title = "Удаление выезда оперативной группы";
}
@if (Session["User"] is DutyPanel.Models.OperativeWorker || Session["User"] is DutyPanel.Models.AdminUser)
{
    <h2>Вы действительно хотите удалить данную запись?</h2>
    <div class="display-label">
             @Html.DisplayNameFor(model => model.TimeLeaving)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TimeLeaving)
        </div>
    using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Удалить" /> |
            @Html.ActionLink("Вернуться назад к списку", "Index")
        </p>
    }
}
else
{
    @Html.Partial("AccessError")
}