@model DutyPanel.Models.LeavingGroup

@{
    ViewBag.Title = "Информация о выезде оперативной группы";
}
@if (Session["User"]!=null)
{
    <h2>Информация о выезда оперативной группы</h2>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.IdLeaving)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.IdLeaving)
        </div>
        <div class="display-label">
             @Html.DisplayNameFor(model => model.TimeLeaving)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TimeLeaving)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Statement.NumberStatement)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Statement.NumberStatement)
        </div>
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Statement.Adress)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Statement.Adress)
        </div>
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Statement.DeclarantLastName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Statement.DeclarantLastName)
        </div>
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Statement.DeclarantFirstName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Statement.DeclarantFirstName)
        </div>
    <p>
        @Html.ActionLink("Редактировать", "Edit", new { id=Model.IdLeaving }) |
        @Html.ActionLink("Вернуться назад к списку", "Index")
        @Html.ActionLink("Создать протокол", "Create", "Protocol", new { id = Model.IdLeaving}, null)
    </p>
}
else
{
    @Html.Partial("AccessError")
}