@model IEnumerable<DutyPanel.Models.LeavingGroup>

@{
    ViewBag.Title = "Список выездов оперативных групп";
}
@if (Session["User"]!=null)
{
    <h2>Список выездов оперативных групп</h2>

    <table class="simple-little-table">
        <tr>
            <th>№ Группы</th>
            <th>Адрес</th>
            <th>
                @Html.DisplayNameFor(model => model.TimeLeaving)
            </th>
            <th>Наличие протокола</th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @item.Group.IdGroup
            </td>
            <td>
                @item.Statement.Adress
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeLeaving)
            </td>
            <td>
                @if (item.Protocol!=null)
                {
                    <span>есть</span>
                }
                else
                {
                    <span>есть</span>
                }
            </td>
            <td>
                @Html.ActionLink("Подробная информация", "Details", new { id=item.IdLeaving }) 
                @if (Session["User"] is DutyPanel.Models.OperativeWorker || Session["User"] is DutyPanel.Models.AdminUser)
                {
                    <span> | </span>
                    @Html.ActionLink("Удалить", "Delete", new { id=item.IdLeaving })
                }
            </td>
        </tr>
    }

    </table>
}
else
{
    @Html.Partial("AccessError")
}