@model DutyPanel.Models.Protocol

@{
    ViewBag.Title = "Инофрмация о протоколе";
}
@if (Session["User"] is DutyPanel.Models.AdminUser || Session["User"] is DutyPanel.Models.OperativeWorker)
{
    <h2>Протокол № @Model.NumberProtocol</h2>
    
        <div>
             <b>@Html.DisplayNameFor(model => model.DateOfPreparation): </b>@Html.DisplayFor(model => model.DateOfPreparation)
        </div>
        <div>
             <b>@Html.DisplayNameFor(model => model.PlaceOfPreparation): </b>@Html.DisplayFor(model => model.PlaceOfPreparation)
        </div>
        <div>
             <b>@Html.DisplayNameFor(model => model.IsHaveDelayed): </b>@Html.DisplayFor(model => model.IsHaveDelayed)
        </div>
        <div>
             <b>Номер группы составившей протокол: </b>№@Html.DisplayFor(model => model.Leaving.Group.IdGroup)
        </div>
        <div>
             <b>Начальник группы: </b><span>@Model.Leaving.Group.Workers.Where(l=>l.IsHeadOfGroup).First().LastName @Model.Leaving.Group.Workers.Where(l=>l.IsHeadOfGroup).First().FirstName @Model.Leaving.Group.Workers.Where(l=>l.IsHeadOfGroup).First().SecondName</span>
        </div>

        if (Model.IsHaveDelayed)
        { 
            <h3>Список задержанных</h3>
            <table class="simple-little-table">
                <tr>
                    <th>
                        Имя
                    </th>
                    <th>
                        Фамилия
                    </th>
                    <th>
                        Отчество
                    </th>
                    <th>
                        Дата задержания
                    </th>
                </tr>
                @foreach(var item in Model.Detentions)
                {
                    <tr>
                        <td>
                            @item.DetentionLastName
                        </td>
                        <td>
                            @item.DetentionFirstName
                        </td>
                        <td>
                            @item.DetentionSecondName
                        </td>
                        <td>
                            @item.DateOfDetention
                        </td>
                    </tr>
                }
            </table>
        }
    <p>
        @Html.ActionLink("Редактировать", "Edit", new { id=Model.NumberProtocol }) |
        @Html.ActionLink("Вернуться назад к списку", "Index")
        @if(Model.IsHaveDelayed)
        {
           <span>|</span> @Html.ActionLink("Добавить задержанных", "Create", "Detention", new { id = Model.NumberProtocol}, null)
        }
    </p>
}
else
{
    @Html.Partial("AccessError")
}