@model DutyPanel.Models.Protocol

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Protocol</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfPreparation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfPreparation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PlaceOfPreparation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PlaceOfPreparation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsHaveDelayed)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsHaveDelayed)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.NumberProtocol }) |
    @Html.ActionLink("Back to List", "Index")
    @Html.ActionLink("Добавить задержанных", "Create", "Detention", new { id = Model.NumberProtocol}, "div")
</p>
