@model DutyPanel.Models.Car

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Car</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumberCar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumberCar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsPlaceFoDetainees)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsPlaceFoDetainees)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BrandCar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BrandCar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModelCar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModelCar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReleaseDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReleaseDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Color)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Color)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FuelType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FuelType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateLastRefueling)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateLastRefueling)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SeatsCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SeatsCount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsSpecSignal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsSpecSignal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DesiredCategoryDriving)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DesiredCategoryDriving)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IdCar }) |
    @Html.ActionLink("Back to List", "Index")
</p>
