@model IEnumerable<DutyPanel.Models.Car>

@{
    ViewBag.Title = "Список автомобилей в системе";
}

@if ((Session["User"] is DutyPanel.Models.AdminUser) || (Session["User"] is DutyPanel.Models.Driver))
{
    <h2>Автомобили в системе</h2>

    <p>
        @Html.ActionLink("Создать новый автомобиль", "Create")
    </p>
    <table class="simple-little-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumberCar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandCar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelCar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
        
            <th>
                @Html.DisplayNameFor(model => model.SeatsCount)
            </th>
        
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumberCar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandCar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelCar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatsCount)
            </td>
            <td>
                @if((Session["User"] as DutyPanel.Models.Driver).WorkingCar.IdCar == item.IdCar||Session["User"] is DutyPanel.Models.AdminUser)
                {
                    @Html.ActionLink("Редактирование", "Edit", new { id=item.IdCar }) <span>|</span>
                }
                @Html.ActionLink("Подробная информация", "Details", new { id = item.IdCar })
                @if ((Session["User"] as DutyPanel.Models.Driver).WorkingCar.IdCar == item.IdCar || Session["User"] is DutyPanel.Models.AdminUser)
                {
                    <span>|</span> @Html.ActionLink("Удалить", "Delete", new { id=item.IdCar })
                }
            </td>
        </tr>
    }

    </table>
}
else
{
    @Html.Partial("AccessError")
}