@model DutyPanel.Models.OperationalGroup

@{
    ViewBag.Title = "Создание оперативной группы";
}

@if(Session["User"] is DutyPanel.Models.AdminUser)
{
    if (ViewData["InfoText"]==null)
    {
        <h2>Создание оперативной группы</h2>

        using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

                <b>Вы действительно хотете создать оперативную группу ?</b>
       
                <p>
                    <input type="submit" value="Создать" />
                </p>
        }

        <div>
            @Html.ActionLink("Вернуться назад к списку", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    }
    else
    {
        @Html.ActionLink("Вернуться назад к списку", "Index")
    }
}
else
{
    @Html.Partial("AccessError")
}