@model DutyPanel.Models.OperationalGroup

@{
    ViewBag.Title = "Информация об оперативной группе";
}
@if(Session["User"] is DutyPanel.Models.AdminUser)
{
    <h2>Инофрмация об оперативной группе №@Model.IdGroup</h2>
        <h4>Водитель</h4>
        if(Model.Driver != null)
        {
            <table class="simple-little-table">
                <tr>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Рабочий телефон</th>
                </tr>
                <tr>
                    <td>@Model.Driver.LastName</td>
                    <td>@Model.Driver.FirstName</td>
                    <td>@Model.Driver.SecondName</td>
                    <td>@Model.Driver.WorkingPhone</td>
                </tr>
            </table>
            <h4>Автомобиль</h4>
            <table class="simple-little-table">
                <tr>
                    <th>Регистрационный номер</th>
                    <th>Марка</th>
                    <th>Модель</th>
                    <th>Цвет</th>
                </tr>
                <tr>
                    <td>@Model.Driver.WorkingCar.NumberCar</td>
                    <td>@Model.Driver.WorkingCar.BrandCar</td>
                    <td>@Model.Driver.WorkingCar.ModelCar</td>
                    <td>@Model.Driver.WorkingCar.Color</td>
                </tr>
            </table>
        }
        else
        {
            <p>В данной оперативной группе водителя нет.</p>
        }
        <h4>Состав группы</h4>
        if (Model.Workers.Count()!= 0)
        {
            <table class="simple-little-table">
                <tr>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Рабочий телефон</th>
                </tr>
            @foreach (DutyPanel.Models.OperativeWorker item in Model.Workers)
            { 
                <tr>
                    <td>@item.LastName</td>
                    <td>@item.FirstName</td>
                    <td>@item.SecondName</td>
                    <td>@item.WorkingPhone</td>
                </tr>
            }
            </table>
        }
        else
        {
            <p>В группе нет оперативных работников.</p>
        }
    <p>
        @Html.ActionLink("Вернуться назад к списку", "Index")
    </p>
}
else
{
    @Html.Partial("AccessError")
}