@model IEnumerable<DutyPanel.Models.OperationalGroup>

@{
    ViewBag.Title = "Список оперативных групп";
}
@if(Session["User"] is DutyPanel.Models.AdminUser)
{
    <h2>Список оперативных групп</h2>

    <p>
        @Html.ActionLink("Создать новую группу", "Create")
    </p>
    <table>
        <tr>
            <th>Номер оперативной группы</th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <th>@Html.DisplayFor(modelItem => item.IdGroup)</th>
            <td>
                @Html.ActionLink("Подробная информация", "Details", new { id=item.IdGroup }) |
                @Html.ActionLink("Удалить", "Delete", new { id=item.IdGroup })
            </td>
        </tr>
    }

    </table>
}
else
{
    @Html.Partial("AccessError")
}