@model IEnumerable<DutyPanel.Models.OperationalGroup>

@{
    ViewBag.Title = "Список оперативных групп";
}
@if(Session["User"] is DutyPanel.Models.AdminUser)
{
    <h2>Список оперативных групп</h2>

    <p>
        @Html.ActionLink("Создать новую группу", "Create")
    </p>
    <table class="simple-little-table">
        <tr>
            <th>№ группы</th>
            <th>Начальник</th>
            <th>Водитель</th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.IdGroup)</td>
            <td>
            @if (item.Workers.Where(m => m.IsHeadOfGroup).Count() != 0)
            {
                @item.Workers.Where(m => m.IsHeadOfGroup).First().LastName<span> </span>@item.Workers.Where(m => m.IsHeadOfGroup).First().FirstName
            }
            else
            { 
                <span>нет</span>
            }
            </td>
            <td>
            @if (item.Driver!=null)
            {
                @item.Driver.LastName<span> </span>@item.Driver.FirstName
            }
            else
            { 
                <span>нет</span>
            }
            </td>
            <td>
                @Html.ActionLink("Подробная информация", "Details", new { id=item.IdGroup }) |
                @Html.ActionLink("Удалить", "Delete", new { id=item.IdGroup })
            </td>
        </tr>
    }

    </table>
}
else
{
    @Html.Partial("AccessError")
}